<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ANTI-GASPI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/styles.css'>
    <script src='./js/scripts.js'></script>
</head>
<body>
    <header>
        <section class="logo-container">
            <img class="logo" src="images/logo.png" alt="Logo du site">
        </section>
        <section class="menu-container">
            <nav class="menu">
                <ul>
                  <li><a href="index.html">Accueil</a></li>
                  <li><a href="services.html">Nos Services</a></li>
                  <li><a href="contact.html">Nous Contacter</a></li>
                </ul>
            </nav>
        </section>
        <section class="logo-container"></section>
        
    </header>

    <main>

      <section id="presentation-section" class="horizontal-flex">

        <section class="w-30">
            <h1>ANTI-GASPI</h1>

            <h2>Pour un monde plus propre et moins sale !</h2>

            <p></p>
        </section>
        
        <section id="banner-img" class="w-70">
            <img src="./images/office.jpg" width="100%" height="400px" alt="At Work"/>
        </section>

      </section>
      
      <section class="separator">
            <h3>NOTRE EQUIPE</h2>
      </section>

      <section id="team-section">
            
            <section class="horizontal-flex">
                <section class="w-30">
                    <img src="./images/luffy.jpg" width="100%" height="300px"/>
                </section>

                <section class="w-70 center-v center-h">
                    
                    <h4>Monkey D. Luffy</h4>
                    <h5>Fondateur & Directeur de ANTI-GASPI</h5>

                </section>
                
            </section>

            <section class="horizontal-flex-reverse">
                <section class="w-30">
                    <img src="./images/elonmusk.jpg" width="100%" height="300px"/>
                </section>

                <section class="w-70 center-v center-h">
                    
                    <h4>Elon Musk</h4>
                    <h5>Machine Learning</h5>

                </section>
                
            </section>

            <section class="horizontal-flex">
                <section class="w-30">
                    <img src="./images/rihanna.png" width="100%" height="300px"/>
                </section>

                <section class="w-70 center-v center-h">
                    
                    <h4>Rihanna</h4>
                    <h5>Responsable communication</h5>

                </section>
                
            </section>

            <section class="horizontal-flex-reverse">
                <section class="w-30">
                    <img src="./images/kalash.jpg" width="100%" height="300px"/>
                </section>

                <section class="w-70 center-v center-h">
                    
                    <h4>Kalash</h4>
                    <h5>Trieur professionnel</h5>

                </section>
                
            </section>

            <section class="horizontal-flex">
                <section class="w-30">
                    <img src="./images/tommy.png" width="100%" height="300px"/>
                </section>

                <section class="w-70 center-v center-h">
                    
                    <h4>MIREDIN Tommy</h4>
                    <h5>Expert en biologie</h5>

                </section>
                
            </section>
            
      </section>

    </main>

    <footer>
        <p>Tout droits réservés © 2022</p>
    </footer>
    
</body>
</html>